body {
	margin: 0px;
	font-family: "Inter", sans-serif;
}

h1 {
	margin: 0px;
}

.page {
	display: flex;
}

.page > div {
	height: 100vh;
}

.img-area {
	width: 35vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;

	background: url("./images/background1.jpg") center;
	background-size: cover;
	overflow: hidden;
	user-select: none;
}

.logo-box {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	top: 20%;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	font-family: go3, sans-serif;
	font-size: 3.5rem;
	text-align: center;
	line-height: 0.8;
}

.logo {
	width: 200px;
}

.photo-credits {
	color: white;
	text-align: center;
	margin: 16px;
}

.main {
	background: #f9fafb;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;

	font-size: 1rem;
}

.main > * {
	padding: 0px 48px;
}

.notice {
}

.sign-up-form {
	background: #ffffff;
	padding: ;
}

@font-face {
	font-family: go3;
	src: url("./fonts/go3v2.ttf");
}
