body {
	margin: 0px;
	font-family: "Inter", sans-serif;
}

:root {
	--primary: #ba0100;
	--darker: #860000;
	--shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	--inset: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

h2 {
	margin: 0px;
}

.page {
	display: flex;
}

.page > div {
	height: 100vh;
}

.img-area {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;

	background: url("./images/background1.jpg") center;
	background-size: cover;
	overflow: hidden;
	user-select: none;
}

.logo-box {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	top: 20%;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	font-family: go3, sans-serif;
	font-size: 3.5rem;
	text-align: center;
	line-height: 0.8;
}

.logo {
	width: 200px;
}

.photo-credits {
	color: white;
	text-align: center;
	margin: 16px;
}

.main {
	background: #f9fafb;
	width: 100%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	gap: 24px;

	font-size: 1rem;
}

.main > * {
	padding: 0px 48px;
}

.notice {
	max-width: 750px;
	margin: 48px 0px;
}

form {
	padding: 0px !important;
	width: 100%;
}

.sign-up-form {
	background: #ffffff;
	padding: 8px 48px 48px;
	/* display: flex; */
	/* flex-direction: column; */
	/* gap: 32px; */
	/* justify-content: space-evenly; */

	box-shadow: var(--shadow);
}

.header {
	margin: 16px 0px;
}

.fields {
	display: flex;
	flex-wrap: wrap;
	gap: 32px 64px;
	max-width: 700px;
}

label {
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 600;
	color: #444444;
}

.input {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	gap: 2px;
}

input {
	border: #bbbbbb solid 1px;
	border-radius: 4px;
	padding: 8px 10px;
	width: 250px;
	font-size: 14px;
	outline: none;
}

input:focus {
	border: rgb(110, 110, 255) solid 1px;
}

.error,
input:not(:placeholder-shown) {
	border: red solid 1px;
}

input:valid {
	border: lime solid 1px;
}

.input > .info {
	color: red;
	font-size: 14px;
}

input:focus {
	box-shadow: var(--shadow);
}

button {
	background-color: var(--primary);
	color: white;
	border: none;
	border-radius: 8px;
	padding: 16px 48px;
	margin: 48px 48px 0px;
	font-size: 1rem;

	box-shadow: var(--shadow);
}

button:hover {
	background: #860000;
}

button:active {
	box-shadow: var(--inset);
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:visited {
	color: var(--primary);
}

a:hover {
	font-weight: 600;
}

a:active {
	color: var(--darker);
}

@font-face {
	font-family: go3;
	src: url("./fonts/go3v2.ttf");
}
